<ion-view view-title="{{title}}">
    <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
            <button menu-toggle="right" class="button button-icon icon ion-ios-search"></button>
    </ion-nav-buttons>
    <ion-content style="background: #e8ebf1;" class="padding" scroll="false">
                
        <!--ng-map map-initialized="haha(this)" on-click="doThis(this)">
            
        </ng-map-->

        <map map-initialized="haha(this)" on-click="doThis(this)">
        </map>

        
    </ion-content>
</ion-view>
